.book{
    margin-top: 60px;
    width: 97%;
}
.cardBook{
    margin-left: 12px;
}
h2{
    margin-top: 50px;
    margin-bottom: 60px;
}
@media (max-width: 575.98px) {
    h2{
        /* margin-top: 120px!important; */
        margin-left: 0px!important;
    }
    .book{
        margin-top: 130px;
        width: 97%;
    }
    .cardBook{
        margin-left: 4px;
    }
}