.display1{
    display: none; 
}
@media (max-width: 575.98px) {
 .display{
     display: none;
 }
 .ftTable{
    margin-left: 0px !important;
 }
 .table{
     margin-left: 25%;
     width: 70%;
 }
 .display1{
    display: block;
}
}